extends base/base

block title
    title homework

block slides

    include homework/1_1

    include homework/2_2

    include homework/2_3

    include homework/3_1

    include homework/3_2

    section
        h1 The End
