section#homework1_1
    h2 【作业1-1】
    br
    ol
        li 安装: vs2012 + github
        br
        li 注册github账号，发邮件到 luckyzhigang@gmail.com
        br
        li 编写HelloWorld（输出 Hello World！I'm XXX）
        br
        li 提交到github

