section#homework2_3
    h3 【作业2-3】C++考试成绩管理
    br
    pre.
        基本功能：
            1）查看学生名单（含所有信息）
            2）选课（添加学生）
            3）退选（删除学生）
            4）录入成绩（从特定学号开始，每录入完一人，询问是否继续）
            5）退出程序
    pre.fragment.
        选做：支持录入多门课程

