section#homework3_1
    h3 【作业3-1】
    ol
        li
            a(href='class_object.html#/practice3_2') 【课堂练习3-2】SafeArray

        li
            a(href='class_object.html#/practice3_3') 【课堂练习3-3】Stack



