doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='chrome=1')
        link(rel='stylesheet', type='text/css', href='stylesheets/stylesheet.css', media='screen')
        link(rel='stylesheet', type='text/css', href='stylesheets/pygment_trac.css', media='screen')

    title Cppexamples by luckymark
    body
        header
            .container
                h1 Cppexamples
                h2 C++教学用的代码示例
                section#downloads
                    a.btn(href='https://github.com/luckymark/CppExamples/zipball/master') Download as .zip
                    a.btn(href='https://github.com/luckymark/CppExamples/tarball/master') Download as .tar.gz
                    a.btn.btn-github(href='https://github.com/luckymark/CppExamples')
                        span.icon
                        | View on GitHub
        .container
            section#main_content
                h1 课堂教学使用的Slides
                ul
                    li
                        a(href='slides/quiz.html') 小测验
                    br
                    li
                        a(href='slides/homework.html') 作业
                    br
                    li
                        a(href='slides/helloWorld.html') HelloWorld
                    li
                        a(href='slides/structuredProgramming.html') 结构化编程
                ul 面向对象基础篇:
                    li
                        a(href='slides/class_object.html') 物以类聚
                    li
                        a(href='slides/inheritance.html') 继承
                    li
                        a(href='slides/composite.html') 组合
                ul 面向对象扩展篇:
                    li
                        a(href='slides/class2.html') 再论class
                    li
                        a(href='slides/operator_overload.html') 运算符重载
                    li
                        a(href='slides/template.html') 模板
                ul 杂项:
                    li
                        a(href='slides/inline.html') 内联优化
                    li
                        a(href='slides/namespace.html') 命名空间
                    li
                        a(href='slides/exception.html') 异常





