section
    section
        h3  multiple inheritance(多继承)
        pre.
            class LionTiger:public Lion,public Tiger{
                ...
            };

    section
        h3 单继承的内存结构示意图
        img(src="img/single_inheritance_memory.png")

    section
        h3 多继承的内存结构示意图(一)
        img(src="img/multi_inheritance_memory.png")

    section
        h3 多继承的内存结构示意图(二)
        img(src="img/2route_inheritance_memory.png")

